.box1{
  background-color: rgb(251,251, 251,1);
}
.box2{
  background-color: rgb(251,251, 251,1);
}
.box3{
  background-color: rgb(251,251, 251,1);
}

.btn1{
  background-color: rgba(224, 50, 252, 1);
  color: rgb(245, 241, 244);

}

.btn2{
  background-color: rgb(245, 241, 244);
  color: rgb(9, 4, 10);
 
}
.btn1:hover{
  
  
  background-color: rgb(88, 3, 100);
}

.btn2:hover{
  
   background-color: rgba(224, 50, 252, 1);
}
